:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bgd-color: #e5e5e5;
  --secondary-bgd-color: #ffffff;
}

.body {
  background-color: var(--primary-bgd-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* КНОПКА */

.usually-hidden {
  display: none;
}

.box-button {
  display: flex;
  justify-content: center;
  /* outline: 3px solid blue; */
  margin-top: 93px;
  margin-bottom: 50px;
}

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
}

button:hover,
button:focus {
  background-color: var(--accent-color);
  color: #f5f4fa;
}

/* ГОЛОВНИЙ КОНТЕЙНЕР */

.main-container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 3px solid sandybrown; */
  margin-top: 0px;
  margin-bottom: 6px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  /* background-color: teal; */
}

.list-element {
  /* width: calc((100% - 2 * 30px) / 3); */
  width: 370px;
  /* background-color: tomato; */
  margin-right: 30px;
  margin-bottom: 30px;
}

.list-element:nth-child(3n + 3) {
  margin-right: 0px;
}
.list-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.description {
  display: none;
}

a {
  text-decoration: none;
}
